.navbar {
  margin-bottom: 0px;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 230px;
  text-align: center;
  background: rgba(101, 101, 101, 0.6);
  color: #ffffff;
  font-size: 100px;
  opacity: 0;
}

.mask .fa.fa-plus {
  line-height: 230px;
}

a.u-photo:hover .mask {
  opacity: 1;
}

.pinned-item-list-item {
  width: 355px;
}

